[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RootscanR"]
	path = RootscanR
	url = https://github.com/cran/RootscanR
[submodule "poweRbal"]
	path = poweRbal
	url = https://github.com/cran/poweRbal
[submodule "treeDbalance"]
	path = treeDbalance
	url = https://github.com/cran/treeDbalance
